@{
    ViewData["Title"] = "Home";
}
<style>

    body {
        padding-top: 100px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .logo {
        width: 50%;
    }
</style>

<div class="container">
   

    <div class="form-signin ">
        <img class="img-responsive" src="~/images/logo.png" />
        <br />
        <div>
            <a class="btn btn-lg btn-primary btn-block" href="/Account/Login">Iniciar sesión</a><br />
            <a class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#modalAgregar"> Registrar-me</a><br />
            <a class="btn btn-lg btn-info btn-block" href="/Sectors">Ir a Sectores</a>
        </div>

    </div>
</div>

<!--************** MODAL_AGREGAR*******************-->
<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="Id" id="Id" />
                    <div class="form-group">
                        <label for="UserNameNuevo" class="control-label">Usuario</label>
                        <input name="UserNameNuevo" id="UserNameNuevo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="EmailNuevo" class="control-label">Email</label>
                        <input type="email" name="EmailNuevo" id="EmailNuevo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumberNuevo" class="control-label">Teléfono</label>
                        <input type="number" name="PhoneNumberNuevo" id="PhoneNumberNuevo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PasswordHashNuevo" class="control-label">Password</label>
                        <input type="password" name="PasswordHashNuevo" id="PasswordHashNuevo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <p id="mensajeNuevo"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="crearUser('Users/CrearUser')">CrearUsuario</button>
            </div>
        </div>
    </div>
</div>