@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mallorca - Selva<br />
    <abbr title="Email">sergiroberti93@gmail.com</abbr>
    </br>
    <abbr title="Phone">696303634</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sergiroberti93@gmail.com">sergiroberti93@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sergiroberti93@gmail.com">sergiroberti93@gmail.com</a>
</address>
